name: tf-checks
on:
  push:
    branches: [ master ]
  pull_request:
  workflow_dispatch:
jobs:
  basic-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/stf-checks.yml@bd958ead76ac7c72acf4976c244c47eef89c84f7 # pinned to latest
    with:
      working_directory: './_examples/basic/'
  complete-example:
    uses: clouddrove/github-shared-workflows/.github/workflows/stf-checks.yml@bd958ead76ac7c72acf4976c244c47eef89c84f7 # pinned to latest
    with:
      working_directory: './_examples/complete/'

# Seperate Job for TFlint workflow call
  tf-lint:
    uses: clouddrove/github-shared-workflows/.github/workflows/tf-lint.yml@521761c1a5cf68d919980a2ed84b755182aeabfe # pinned to latest
    secrets: 
      GITHUB: ${{ secrets.GITHUB }}
